<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Contact Form</title>
</head>
<body>
    
      <!-- Navbar Start  -->
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container ">
      <a class="navbar-brand" href="#">
        <img src="../images/Empower Her (1).png" alt="" width="55" height="55" class="rounded-circle">
      &nbsp; <b class="logo-text text-white">  EmpowerHer </b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 gap-4 ">
          <li class="nav-item ">
            <a class="nav-link " aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Live Tracker</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Services 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Helpline Numbers </a></li>
              <li><a class="dropdown-item" href="#">Emergency Contact Numbers</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Help</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
 <!-- Navbar End -->


 <!-- contact form start -->
 
 <section id="contact">
    <div class="contact-box">
      <div class="contact-links">
        <h2>CONTACT FORM</h2>
        
      </div>
      <div class="contact-form-wrapper">
        <form action="/addcontact" method="post">
          <h1>Add Contacts</h1> <br>
          <div class="form-item">

            <input type="text"  name="usercontact">
            <label>Name:</label>
          </div>
         
          <div class="form-item">
            <input type="email"  name="email">
            <label>Email:</label>
          </div>
          <button class="submit-btn">Submit</button>  
        </form>
      </div>
    </div>
  </section>

  <!-- contact form end  -->
   
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>