<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
   
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Emblema+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="responsive.css">
        <link rel="stylesheet" href="/stylesheets/mobile-responsive.css">
  <style>
    /* -------------Preloader-Css-Start-------------- */

/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999999;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darkmagenta;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: purple;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: darkmagenta;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

  </style>
  
  <title>Home Page</title>
</head>
<body>
   <!-- Preloader -->
    <div id="preloader">
      <div id="loader"></div>
    </div>
  <!-- Navbar Start  -->
   <div class="content d-none d-md-block">
  <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container ">
      <a class="navbar-brand" href="/home">
        <img src="../images/Empower Her (1).png" alt="" width="55" height="55" class="rounded-circle">
      &nbsp; <b class="logo-text text-white">  EmpowerHer </b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 gap-4 ">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/popup" >Live Tracker</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Services 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/map">Emergency Services </a></li>
              <li><a class="dropdown-item" href="/addcontact">Emergency Contact Numbers</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/complaint">Grievance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
 <!-- Navbar End -->

 <!-- Second Header Start -->
  <div class="container  d-flex ">
    
    <div class="content d-flex mt-3 gap-3">
      <% if (user) { %>
      <img src="../images/user.png" alt=""  alt="" width="30" height="30">
    <p class="fw-bold fs-6"> Hi <%= user.fullname %> </p>
      <% } %>
  </div>

  <div class="container-eg-btn-4 mt-1 ms-auto">
  <a href="/logout" class="button button-7 gap-3">
    <img src="../images/user-logout.png" alt=""  alt="" width="25" height="23">
   &nbsp; &nbsp;  &nbsp;  <b> Logout</b></a>
</div>
  </div>
  <!-- Second Header End  -->


<!-- Carousel Start -->
<div class="slider-container ">
  <!-- Slider List Items -->
  <div class="slider-wrapper swiper-wrapper">
    <div class="slider-item swiper-slide" id="first">
      <div class="slide-content">
        <h3 class="slide-subtitle">Keep Calm</h3> <br>
        <h2 class="slide-title">After pressing SOS button you will get help in 10 seconds</h2>
        <a href="/map" class="slide-button d-none d-md-block"><span>learn More</span></a>
        <a href="#second" class="slide-button d-md-none" ><span>Next</span></a>
      </div>
    </div>
    <div class="slider-item swiper-slide" id="second">
      <div class="slide-content">
        <h3 class="slide-subtitle">Add Emergency Contacts</h3> <br>
        <h2 class="slide-title">You can add your family and friends to get help with them</h2>
        <!-- //website -->
        <a href="/addcontact" class="slide-button d-none d-md-block"><span>learn More</span></a>
        <!-- //app -->
        <a href="#third" class="slide-button d-md-none" ><span>Next</span></a> 
      </div>
    </div>
    <div class="slider-item swiper-slide" id="third">
      <div class="slide-content">
        <h3 class="slide-subtitle">Help and Support</h3> <br>
        <h2 class="slide-title">You are never alone. Seeking help is a sign of strength, not weakness. We're here to listen, support, and protect.</h2>
        <a href="/help" class="slide-button d-none d-md-block"><span>learn More</span></a>
        <a href="#fourth" class="slide-button d-md-none" ><span>Next</span></a>
      </div>
    </div>
    <div class="slider-item swiper-slide" id="fourth">
      <div class="slide-content">
        <h3 class="slide-subtitle">Live Location Tracker</h3> <br>
        <h2 class="slide-title">Your emergency contacts are easily track your location</h2>
        <a href="/popup" class="slide-button d-none d-md-block"><span>learn More</span></a>
        <a href="#five" class="slide-button d-md-none" ><span>Next</span></a>
      </div>
    </div>
    <div class="slider-item swiper-slide" id="five">
      <div class="slide-content">
        <h3 class="slide-subtitle">Emergency Services</h3> <br>
        <h2 class="slide-title">You can directly call police, women helpine number etc.</h2>
        <a href="/complaint" class="slide-button d-none d-md-block"><span>learn More</span></a>
        <a href="./mobile-view.html" class="slide-button d-md-none" ><span>Next</span></a>
      </div>
    </div>
  </div>
  <!-- Slider Pagination -->
  <div class="slider-controls">
    <ul class="slider-pagination">
      <div class="slider-indicator"></div>
      <li class="slider-tab current">Keep Calm</li>
      <li class="slider-tab">Add Emergency Contacts</li>
      <li class="slider-tab">Help and Support</li>
      <li class="slider-tab">Live Location Tracker</li>
      <li class="slider-tab">Emergency Services</li>
    </ul>
  </div>
  <!-- Slider Navigations (Prev/Next) -->
  <div class="slider-navigations">
    <button id="slide-prev" class="material-symbols-rounded">
      <img src="../images/arrow-left.png" alt="" style="background-color: aliceblue; height: 40px; width: 40px; border-radius: 40px; ">
    </button>
 
    <button id="slide-Next" class="material-symbols-rounded ">
      <img src="../images/arrow-right.png" alt="" style="background-color: aliceblue; height: 40px; width: 40px; border-radius: 40px; ">
    </button>
  </div>
</div>
 <!-- Carousel End -->

 <!-- Our Services Start -->
  <div class="container" id="our-services">
    <h1 class="text-center mt-5 services"> Our Services </h1>
    <div class="row1-container mt-4" >
      <div class="box box-down cyan  w-50">
        <h2>Live Tracker</h2>
        <p>It enables real-time location sharing, ensuring immediate assistance and enhanced security for users in distress</p>
        <div class="container-eg-btn-4 me-3">
          
          <button onclick="window.location.href='/popup'" class="button button-7 gap-3">
            Next
          </button>
       
        </div>
        <img src="../images/placeholder.png" alt="" height="60" width="60">
      </div>
  
      <div class="box red  w-50">
        <h2>Near Emergency Services</h2>
        <p> You can easily find nearby emergency services such as police stations, hospitals, hotels, and other essential facilities in your nearby area.</p>
        <div class="container-eg-btn-4 me-3">
          
          <button onclick="window.location.href='/map'" class="button button-7 gap-3">
            Next
          </button>
       
        </div>
        <img src="../images/front-line.png" alt="" height="60" width="60">
      </div>
  
      <div class="box box-down blue  w-50">
        <h2>Complaint Form</h2>
        <p>The complaint form in a women's safety application directly links to the police FIR service, enabling users to report incidents quickly and seek legal assistance.</p>
        <div class="container-eg-btn-4 me-3">
          
          <button  onclick="window.location.href='/complaint'" class="button button-7 gap-3">
            Next
          </button>
       
        </div>
        <img src="../images/paper.png" alt="" height="60" width="60">
      </div>
    </div>
    <div class="row2-container mx-auto " style="width: 50vw ;">
      <div class="box orange mx-auto w-50">
        <h2>Emergency Contacts</h2>
        <p>It allows users to instantly alert trusted contacts during emergencies, ensuring quick support and response.</p>
        <div class="container-eg-btn-4 me-3">
          
          <button onclick="window.location.href='/addcontact'" class="button button-7 gap-3">
            Next
          </button>
       
        </div>
        <img src="../images/emergency-contact.png" alt="" height="60" width="60">
      </div>
  </div>
  </div>
  <!-- Our Services End -->

  <!-- testimonial section start -->
  <h1 class="mt-5 text-center services" id="test">Testimonials</h1>
   <div class="main mt-3 container-fluid">
   
  <div class="owl-carousel owl-theme mt-5">
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/1.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              This app has given me and my parents peace of mind. The live tracking and emergency alert features make me feel safe when traveling late at night. It’s like having a guardian angel in my pocket
            </div>
            <div class="name">
              Ananya Sharma – College Student
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/2.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              I had to walk alone after a late shift, and I felt uneasy. With just one tap, my emergency contacts were notified, and I got a call within seconds. This app is a must-have for every woman!
            </div>
            <div class="name">
              Riya Verma – Working Professional
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/3.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              As a solo traveler, safety is my top priority. The complaint form linked to the police FIR service is an amazing feature. Knowing help is just a click away makes me feel more secure while exploring new places.

            </div>
            <div class="name">
              Neha Kapoor – Solo Traveler
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/4.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              The SOS feature worked like a charm when I was in distress. I highly recommend this app to all women. It’s easy to use and provides a real sense of security!

            </div>
            <div class="name">
               Priya Singh – Homemaker
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/5.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              I work in the tech industry, and sometimes my shifts end at odd hours. The SOS button has been a lifesaver in ensuring I feel protected during my commute. I highly recommend this app !
            </div>
            <div class="name">
                Meera Desai – IT Professional
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/6.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              With a young daughter at home, I always worry about safety. This app has provided me with a sense of security, especially with the emergency contact feature that alerts my loved ones instantly in case of danger.
            </div>
            <div class="name">
              Sneha Reddy – Single Mother
            </div>
        </div>
    </div>
</div>
</div>
<!-- testimonials section end -->

<!-- Accordian start -->
<div class="accordion  container mt-5 mb-5" id="accordionExample">
  <h1 class="text-center services"> FAQ'S </h1>
  <div class="accordion-item mt-3">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How does the emergency SOS feature work?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The SOS feature allows users to send instant distress signals to their emergency contacts and local authorities with just one tap. It also shares the user’s real-time location for quick assistance.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Can I track my location in real-time?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, the live tracking feature enables you to share your location with selected contacts, ensuring they can monitor your whereabouts in case of an emergency.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How do I add emergency contacts?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can add trusted family members or friends  under <strong> the "Emergency Contacts" section </strong>. These contacts will be notified if you trigger an SOS alert.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Can I report incidents through the app?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, the app includes a complaint form that allows you to file reports directly with local law enforcement, including an option to link the complaint to a police FIR service.    </div>
  </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Is my data safe and private?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Absolutely. We prioritize user privacy and ensure that all data, including location and emergency contacts, is encrypted and securely stored.    </div>
  </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Can this app be used in different locations?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, our app is designed to work across different cities and regions, with emergency services adapting to local law enforcement.    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      What should I do if I face technical issues with the app?
    </button>
  </h2>
  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      If you experience any issues, you can reach out to our support team via <strong> the "Help" section </strong>, where we offer assistance 24/7.</div>
</div>
</div>
  </div>
 <!-- Accordian end -->

 <!-- Footer start -->
 
 <footer class="footer" >
	<div class="waves">
		<div class="wave" id="wave1"></div>
		<div class="wave" id="wave2"></div>
		<div class="wave" id="wave3"></div>
		<div class="wave" id="wave4"></div>
	</div>

	<ul class="menu">
		<li class="menu__item"><a class="menu__link" href="#">
      <img src="../images/facebook.png" alt="" height="40" width="40">
    </a></li>
		<li class="menu__item"><a class="menu__link" href="#">
      <img src="../images/logo.png" alt="" height="40" width="40">
    </a></li>
		<li class="menu__item"><a class="menu__link" href="#">
      <img src="../images/twitter.png" alt="" height="40" width="40">
    </a></li>


	</ul>
	<p>Made with 🤍 by Priya</p>
    
</footer>

   </div>
 <!-- footer End -->



 <!-- Modal Start -->
<!-- Button trigger modal -->
  <!-- Modal -->
  
   <!-- Modal End  -->

<!-- mobile-view content start -->
 <div class="content d-md-none d-block">
   <!-- Navbar Start  -->
   <nav class="navbar navbar-expand-lg navbar-dark ">
    <div class="container ">
      <a class="navbar-brand" href="#">
        <img src="../images/Empower Her (1).png" alt="" width="55" height="55" class="rounded-circle">
      &nbsp; <b class="logo-text text-white">  EmpowerHer </b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto  mb-2 mb-lg-0 gap-4 ">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/popup">Live Tracker</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Services 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/map">Emergency Services</a></li>
              <li><a class="dropdown-item" href="/addconatct">Emergency Contact Numbers</a></li>
              
            </ul>
          </li>
          <li class="nav-item">
                  <a class="nav-link" href="/complaint">Grievance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
 <!-- Navbar End -->

 <!-- Second Header Start -->
<div class="container d-flex justify-content-between align-items-center mt-3">
  <div class="content d-flex align-items-center gap-2">
    <% if (user) { %>
      <img src="../images/user.png" alt="User" width="30" height="30" />
      <p class="fw-bold fs-6 mb-0">Hi <%= user.fullname %></p>
    <% } %>
  </div>

  <div class="container-eg-btn-4">
    <a href="/logout" class="button button-7 d-flex align-items-center gap-2">
      <img src="../images/user-logout.png" alt="Logout" width="25" height="25" />
      <b>Logout</b>
    </a>
  </div>
</div>

  <!-- Second Header End  -->

 <!-- Our Services Start -->
  <div class="container" id="our-services">
    <h1 class="text-center mt-5 services"> Our Services </h1>
    <div class="row1-container mt-4 w-100  " >
      <div class="box box-down cyan ms-0  w-100 h-100">
        <h2>Live Tracker</h2>
        <p>It enables real-time location sharing, ensuring immediate assistance and enhanced security for users in distress</p>
        <div class="container-eg-btn-4  gap-5">
          
          <button onclick="window.location.href='/popup'" class="button button-7">
            Next
          </button>
       
       
        <img src="../images/placeholder.png" alt="" height="60" width="60"  >
      </div>
      </div>
  
      <div class="box red ms-0  w-100 h-100">
        <h2>Near Emergency Services</h2>
        <p> You can easily find nearby emergency services such as police stations, hospitals, hotels, and other essential facilities in your nearby area.</p>
        <div class="container-eg-btn-4 me-3 gap-5">
          
          <button onclick="window.location.href='/map'" class="button button-7">
            Next
          </button>
       
     
        <img src="../images/front-line.png" alt="" height="60" width="60">
      </div>
      </div>
  
      <div class="box box-down blue  ms-0  w-100 h-100">
        <h2>Complaint Form</h2>
        <p>The complaint form in a women's safety application directly links to the police FIR service, enabling users to report incidents quickly and seek legal assistance.</p>
        <div class="container-eg-btn-4 me-3 gap-5">
          
          <button  onclick="window.location.href='/complaint'" class="button button-7 ">
            Next
          </button>
       
        
        <img src="../images/paper.png" alt="" height="60" width="60">
      </div>
      </div>
    </div>
    <div class="row2-container mx-auto w-100 " >
      <div class="box orange ms-0  w-100 h-100">
        <h2>Emergency Contacts</h2>
        <p>It allows users to instantly alert trusted contacts during emergencies, ensuring quick support and response.</p>
        <div class="container-eg-btn-4 me-3 gap-5">
          
          <button onclick="window.location.href='/addcontact'" class="button button-7 ">
            Next
          </button>
       
        
        <img src="../images/emergency-contact.png" alt="" height="60" width="60">
      </div>
      </div>
  </div>
  </div>
  <!-- Our Services End -->

  <!-- testimonial section start -->
  <h1 class="mt-5 text-center services " id="test">Testimonials</h1>
   <div class="main mt-3 container-fluid ">
   <br>
  <div class="owl-carousel owl-theme mt-5 ">
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/1.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              This app has given me and my parents peace of mind. The live tracking and emergency alert features make me feel safe when traveling late at night. It’s like having a guardian angel in my pocket
            </div>
            <div class="name">
              Ananya Sharma – College Student
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/2.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              I had to walk alone after a late shift, and I felt uneasy. With just one tap, my emergency contacts were notified, and I got a call within seconds. This app is a must-have for every woman!
            </div>
            <div class="name">
              Riya Verma – Working Professional
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/3.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              As a solo traveler, safety is my top priority. The complaint form linked to the police FIR service is an amazing feature. Knowing help is just a click away makes me feel more secure while exploring new places.

            </div>
            <div class="name">
              Neha Kapoor – Solo Traveler
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/4.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              The SOS feature worked like a charm when I was in distress. I highly recommend this app to all women. It’s easy to use and provides a real sense of security!

            </div>
            <div class="name">
               Priya Singh – Homemaker
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/5.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              I work in the tech industry, and sometimes my shifts end at odd hours. The SOS button has been a lifesaver in ensuring I feel protected during my commute. I highly recommend this app !
            </div>
            <div class="name">
                Meera Desai – IT Professional
            </div>
        </div>
    </div>
    <div class="owl-item">
        <div class="card">
            <div class="img-card">
                <img src="../images/6.webp"
                    alt="">
            </div>
            <div class="testimonial mt-4 mb-2">
              With a young daughter at home, I always worry about safety. This app has provided me with a sense of security, especially with the emergency contact feature that alerts my loved ones instantly in case of danger.
            </div>
            <div class="name">
              Sneha Reddy – Single Mother
            </div>
        </div>
    </div>
</div>
</div>
<!-- testimonials section end -->

<!-- Accordian start -->
<div class="accordion  container mt-5" id="accordionExample">
  <h1 class="text-center services"> FAQ'S </h1>
  <div class="accordion-item mt-3">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        How does the emergency SOS feature work?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The SOS feature allows users to send instant distress signals to their emergency contacts and local authorities with just one tap. It also shares the user’s real-time location for quick assistance.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Can I track my location in real-time?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, the live tracking feature enables you to share your location with selected contacts, ensuring they can monitor your whereabouts in case of an emergency.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        How do I add emergency contacts?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        You can add trusted family members or friends  under <strong> the "Emergency Contacts" section </strong>. These contacts will be notified if you trigger an SOS alert.      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Can I report incidents through the app?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, the app includes a complaint form that allows you to file reports directly with local law enforcement, including an option to link the complaint to a police FIR service.    </div>
  </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Is my data safe and private?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Absolutely. We prioritize user privacy and ensure that all data, including location and emergency contacts, is encrypted and securely stored.    </div>
  </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Can this app be used in different locations?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, our app is designed to work across different cities and regions, with emergency services adapting to local law enforcement.    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSeven">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      What should I do if I face technical issues with the app?
    </button>
  </h2>
  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
    <div class="accordion-body">
      If you experience any issues, you can reach out to our support team via <strong> the "Help" section </strong>, where we offer assistance 24/7.</div>
</div>
</div>
  </div>
 <!-- Accordian end -->
 </div>
<!-- mobile-view content end -->
 <div class="go_top">
            <span><img src="../images/go_top.png" alt="image" ></span>
        </div>

 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="javascripts/script.js"></script>
<script src="javascripts/test.js"></script>

<script>
  // Preloader JS

function preloader_fade() {
  $("#preloader").fadeOut('slow');
}

$(document).ready(function() {
  window.setTimeout("preloader_fade();", 500); //call fade in .5 seconds
}
)
</script>
</body>
</html>
